<!-- <ul class="info list-group" ng-controller="FoodCtrl">
		<li ng-repeat="recipe in food" class="thumbnail">
			<a href="#/food/{{recipe.id}}">{{recipe.name}}</a>
			<p><b>Ingredients:</b><span ng-repeat="ingredient in recipe.ingredients"> {{ingredient}}</span></p>
		</li>
</ul> -->
<div class="info">
	<a href="#/food/{{recipe.id}}">{{food.name}}</a>
	<p><b>Ingredients:</b><span ng-repeat="ingredient in food.ingredients"> {{ingredient}}</span></p>
	<p><b>Origin:</b> {{food.country}}</p>
</div>